@font-face {
    font-family: 'StarWars-Regular';
    src: url('./font/StarWars-Regular.otf') format('truetype');
}
html, button, a, input {
    font-family: 'StarWars-Regular', sans-serif;
    color: black;
    -webkit-text-stroke: 0.7px rgb(255, 255, 0);
    font-size: 35px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./image/fond7.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    -webkit-text-stroke: 0.1px black;
    height: 100px;
    width: 85%;
    background: linear-gradient(to top, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.8), rgba(255, 255, 0, 0.1));
    border-radius: 10px;
    padding: 1%;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 100%;
}
a:hover {
    color: black;
    -webkit-text-stroke: 0.7px darkorange;
}

/* All about Nav Bar */

nav {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0,0.6);
    border: 5px groove yellow;
    height: 80px;
    width: 100%;
    gap: 5%;
    position: sticky;
    top: 5px;
    overflow: hidden;
    margin-bottom: 5%;
}
.logo {
    height: 85px;
    width: 85px;
}
nav > section {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav_section_img {
    font-size: 80%;
    width: 20%;
}
.nav_section_button {
    display: flex;
    justify-content: center;
    width: 10%;
}
.traduire {
    font-family: Arial, Helvetica, sans-serif;
    height: 85%;
    width: 75%;
    font-size: 55%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.5px solid yellow;
    border-radius: 15px;
    cursor: pointer;
}
.traduire:hover {
    background-color: rgb(25, 25, 25, 0.7);
    border: 2px solid orange;
    -webkit-text-stroke: 0.7px darkorange;
}

.nav_section_autre {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 80%;
}
.nav_section_autre > div {
    display: flex;
    align-items: center;
    padding: 0 2%;
    height: 100%;
    cursor: pointer;
}

.page_actu {
    color: black;
    -webkit-text-stroke: 0.7px darkorange;
    border-bottom: 5px solid orange;
    font-size: 100%;
}


/* Temporary + ideas to keep or not */
hr {
    border: none;
}

.text {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    padding: 2% 3%;
    margin: 1%;
    width: 75%;
    font-size: 30px;
}


/* Test Holographic color */
#test_color_blue {
    color: lightskyblue;
    -webkit-text-stroke: 0.7px darkblue;
}